fastapi
uvicorn
crewai==1.10.1
crewai-tools
litellm
python-dotenv
pydantic
pydantic-settings
chromadb
torch
groq
langchain
langchain-community
langchain-chroma
langchain_huggingface
sentence-transformers
tenacity
httpx